.footer {
  margin-top: 100px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #F8F6FA;
}

.footer-imagine {
  margin-bottom: 15px;
}

.footer .container {
  max-width: 1000px;
  padding: 35px 25px;
}

.footer .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.contacts {
  margin-top: 60px;
}

.contacts .row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.whatsapp .row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.whatsapp svg {
  width: 39px;
  height: 39px;
}

.contacts-text {
  padding: 20px 80px 20px 0px;
}

.contacts-text a {
  color: black;
  font-weight: 600;
}

.contacts-text span {
  color: #7000FF;
  font-weight: 700;
}

.contacts-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 80px;
}

.contacts-forms .form-control {
  max-width: 400px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer .navbar,
.footer-mail {
  background-color: #2B0955;
}

.footer .navbar svg {
  fill: white;
}

.footer .navbar-nav a {
  color: white;
}

.footer .nav-link:hover {
  color: #E7DFED;
}

.footer-mail {
  padding: 0 35px;
}

.footer-mail .container {
  max-width: 1270px;
  padding: 70px 0px 0px 0px;
  border-bottom: 1px solid #AE97CB;
}

.footer-mail .input-group {
  color: white;
  margin-bottom: 7px !important;
}

.input-group p {
  margin-bottom: 25px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 14px;
}

.input-group .form-control {
  width: 243px;
  height: 45px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  background-color: transparent;
  border-color: white;
  margin-left: 25px !important;
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
  border-right: none;
  color: white;
}

.input-group .form-control:hover + .input-group-text {
  background-color: #E7DFED;
}

.input-group .form-control:hover {
  border-color: white;
}

.input-group .form-control:focus {
  background-color: white;
  color: #656565;
}

.input-group-text:hover {
  background-color: #D2C0DF;
}

.input-group .form-control::-webkit-input-placeholder {
  color: white;
}

.input-group .form-control::-moz-placeholder {
  color: white;
}

.input-group .form-control:-ms-input-placeholder {
  color: white;
}

.input-group .form-control::-ms-input-placeholder {
  color: white;
}

.input-group .form-control::placeholder {
  color: white;
}

.input-group-text {
  max-height: 45px;
  width: 122px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  background-color: white;
  color: #2B0955;
}

.footer-mail p {
  color: white;
  text-align: center;
  padding: 15px 0px 30px 0px;
  font-size: 12px;
}

.input-group .form-control.placeholdercolor::-webkit-input-placeholder {
  color: black;
}

.input-group .form-control.placeholdercolor::-moz-placeholder {
  color: black;
}

.input-group .form-control.placeholdercolor:-ms-input-placeholder {
  color: black;
}

.input-group .form-control.placeholdercolor::-ms-input-placeholder {
  color: black;
}

.input-group .form-control.placeholdercolor::placeholder {
  color: black;
}

.footer .media svg {
  width: 17px;
  height: 17px;
}

.footer .media:hover svg {
  fill: #E7DFED;
}

.footer .navbar .container {
  max-width: 1320px;
}

.display_block {
  font-size: 14px !important;
  text-align: left !important;
  margin: 0px !important;
  display: none;
}

@media (max-width: 991px) {
  .footer-mail .input-group {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 70px !important;
  }

  .input-group .form-control {
    margin-left: 0px !important;
    width: 200px;
  }

  .footer-mail p {
    text-align: center;
    padding: 42px 0px 52px 0px;
    max-width: 200px;
    margin: 0 auto;
  }

  .footer .navbar-brand {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 80px;
  }

  .footer .navbar {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: relative;
  }

  .footer .navbar-collapse {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer .navbar .container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .footer .media-icons {
    position: absolute;
    top: 170px;
    right: 25px;
  }

  .display_none {
    display: none;
  }

  .display_block {
    display: block;
    text-align: left;
    padding: 42px 0px 15px 0px !important;
  }
}

@media (max-width: 767px) {
  .footer .container {
    padding: 35px 33px;
  }

  .footer .footer-mail .container {
    padding: 0px 0px;
  }

  .contacts {
    margin-top: 0px;
  }

  .contacts-text {
    padding: 20px 0px;
    margin-bottom: 40px;
  }

  .contacts-forms {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0px;
  }

  .contacts-forms .form-control {
    -ms-flex-item-align: start;
        align-self: flex-start;
    max-width: 100%;
  }

  .contacts-forms .send {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (max-width: 575px) {
  .contacts-forms .send {
    width: 186px;
    margin-top: 17px;
    margin-bottom: 40px;
  }
}

@media (max-width: 391px) {
  .footer .title {
    max-width: 253px;
    padding: 0px 10px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 991px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 575px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 391px){

@supports (-webkit-appearance:none){

}

}
